# 7506 - Organizacion de Datos - TP N°2

# 1. Librerias

In [1]:
#librerías, no es necesario volverlas a importar

import os
import pandas as pd
import matplotlib.collections as clt
%matplotlib inline

#Llamar al dataloader
%run Util.ipynb

c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# 2. Datos

In [2]:
#Dataset de entranamiento
df_train = pd.read_csv(os.path.join('dataset','train.csv'),index_col='id', encoding='utf8')

#Dataset de test
df_test = pd.read_csv(os.path.join('dataset','test.csv'),index_col='id', encoding='utf8')

In [3]:
df_train.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [4]:
df_test.head()

   keyword location                                               text
id
0      NaN      NaN                 Just happened a terrible car crash
2      NaN      NaN  Heard about #earthquake is different cities, s...
3      NaN      NaN  there is a forest fire at spot pond, geese are...
9      NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
# 3. Preprocesamiento

In [6]:
def preprocesar_df(df, col_name, clean_col_name):
    df[clean_col_name] = df[col_name].apply(lambda x: limpiar_texto(x))

In [7]:
%time preprocesar_df(df_train,'text', 'texto_preprocesado')
#df_train.head()

Wall time: 3.02 s

In [8]:
df_train.head()

,keyword,location,text,target,texto_preprocesado
id,,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive u
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...

In [9]:
%time preprocesar_df (df_test,'text', 'texto_preprocesado')

Wall time: 467 ms

In [10]:
df_test.head()

,keyword,location,text,texto_preprocesado
id,,,,
0,NaN,NaN,Just happened a terrible car crash,happened terrible car crash
2,NaN,NaN,"Heard about #earthquake is different cities, s...",heard earthquake different city stay safe ever...
3,NaN,NaN,"there is a forest fire at spot pond, geese are...",forest fire spot pond goose fleeing across str...
9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting spokane wildfire
11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kill china taiwan

In [11]:
#Dataset de entranamiento
df_train = pd.read_csv(os.path.join('dataset','train.csv'),index_col='id', encoding='utf8')

#Dataset de test
df_test = pd.read_csv(os.path.join('dataset','test.csv'),index_col='id', encoding='utf8')

In [12]:
df_train.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [13]:
df_test.head()

   keyword location                                               text
id
0      NaN      NaN                 Just happened a terrible car crash
2      NaN      NaN  Heard about #earthquake is different cities, s...
3      NaN      NaN  there is a forest fire at spot pond, geese are...
9      NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

# 3. Preprocesamiento

In [14]:
%time preprocesar_df (df_train,'text', 'texto_preprocesado')
#df_train.head()

Wall time: 1.06 s

In [15]:
df_train.head()

,keyword,location,text,target,texto_preprocesado
id,,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive u
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...

In [16]:
%time preprocesar_df (df_test,'text', 'texto_preprocesado')

Wall time: 644 ms

In [17]:
df_test.head()

,keyword,location,text,texto_preprocesado
id,,,,
0,NaN,NaN,Just happened a terrible car crash,happened terrible car crash
2,NaN,NaN,"Heard about #earthquake is different cities, s...",heard earthquake different city stay safe ever...
3,NaN,NaN,"there is a forest fire at spot pond, geese are...",forest fire spot pond goose fleeing across str...
9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting spokane wildfire
11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kill china taiwan