In [7]:
!pip install xgboost

In [ ]:
#Llamar al dataloader
%run DataLoader.ipynb

In [77]:
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [31]:
data= dataset.loc[:,['keyword','longitud','target']].dropna()
data['keyword'] = dataset.keyword.str.len()
data.head()

    keyword  longitud  target
id
48      6.0        55       1
49      6.0        67       0
50      6.0        82       1
52      6.0        34       0
53      6.0        76       0

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7552 entries, 48 to 10834
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   float64
 1   longitud  7552 non-null   int64
 2   target    7552 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 236.0 KB

In [33]:
#separamos la variable a predecir
X = data.loc[:,['keyword', 'longitud']]
X.head()

    keyword  longitud
id
48      6.0        55
49      6.0        67
50      6.0        82
52      6.0        34
53      6.0        76

In [34]:
Y = data.loc[:,'target']
Y.head()

id
48    1
49    0
50    1
52    0
53    0
Name: target, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(X, Y, test_size=0.2, random_state=123)

In [78]:
rf_model = RandomForestClassifier(random_state=1)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_test)

In [79]:
(y_test==preds).value_counts()

True     937
False    574
Name: target, dtype: int64

In [81]:
accuracy_score(y_test, preds)

0.6201191264063534

In [80]:
result = pd.DataFrame()
result['test'] = y_test
result['pred'] = preds
result.head(20)

      test  pred
id
495      0     0
7234     0     1
3342     0     0
3243     0     0
2016     1     0
1949     0     1
9822     1     1
1185     0     1
5635     1     1
5514     0     0
2292     1     1
7008     0     0
9355     1     0
5321     0     0
4359     1     0
8497     0     0
9978     1     1
9819     0     0
6855     1     1
2213     1     1