# 7506 - Organizacion de Datos - TP N°2

# 1. Librerias

In [1]:
#librerías, no es necesario volverlas a importar
import pandas as pd


#Vectorizacion
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

%run ../0_Data/Util.ipynb

c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\users\germa\documents\proyectos python\tp1\venv\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\germa\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# 2. Datos

In [2]:
#Dataset de entranamiento
df_train = pd.read_csv('../dataset/train.csv',index_col='id', encoding='utf8')

#Dataset de test
df_test = pd.read_csv('../dataset/test.csv',index_col='id', encoding='utf8')

In [3]:
df_train.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [4]:
df_test.head()

   keyword location                                               text
id
0      NaN      NaN                 Just happened a terrible car crash
2      NaN      NaN  Heard about #earthquake is different cities, s...
3      NaN      NaN  there is a forest fire at spot pond, geese are...
9      NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

# 3. Preprocesamiento

In [5]:
def preprocesar_df(df, col_name, clean_col_name):
    df[clean_col_name] = df[col_name].apply(lambda x: clean_text_sentiment_analysis(x))

In [6]:
%time preprocesar_df (df_train,'text', 'texto_preprocesado')
#df_train.head()

CPU times: user 11.2 s, sys: 759 ms, total: 11.9 s
Wall time: 11.9 s

In [7]:
df_train.head()

,keyword,location,text,target,texto_preprocesado
id,,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive u
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...

In [8]:
%time preprocesar_df (df_test,'text', 'texto_preprocesado')

CPU times: user 4.32 s, sys: 268 ms, total: 4.59 s
Wall time: 4.59 s

In [9]:
df_test.head()

,keyword,location,text,texto_preprocesado
id,,,,
0,NaN,NaN,Just happened a terrible car crash,happened terrible car crash
2,NaN,NaN,"Heard about #earthquake is different cities, s...",heard earthquake different city stay safe ever...
3,NaN,NaN,"there is a forest fire at spot pond, geese are...",forest fire spot pond goose fleeing across str...
9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting spokane wildfire
11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kill china taiwan

In [10]:
df_train_preprocesado = df_train[['texto_preprocesado','target']]
df_train_preprocesado.head()

                                   texto_preprocesado  target
id
1          deed reason earthquake may allah forgive u       1
4               forest fire near la ronge sask canada       1
5   resident asked shelter place notified officer ...       1
6   people receive wildfire evacuation order calif...       1
7   got sent photo ruby alaska smoke wildfire pour...       1

In [11]:
df_train_preprocesado.to_csv('train_preprocesado.csv')

In [12]:
df_test_preprocesado = df_test['texto_preprocesado']

In [13]:
df_test_preprocesado.to_csv('test_preprocesado.csv')

In [14]:
x_train_original = df_train['text']

x_train_preprocesado = df_train['texto_preprocesado']

y_train = df_train['target']

In [15]:
x_test_original = df_test['text']

x_test_preprocesado = df_test['texto_preprocesado']

# 4. Vectorizacion

## 4.1 Bags of words (BOW)

### 4.1.1 Texto Original

In [6]:
#Realizo la llamada a la clase CountVectorizer()

vectorizador_bow_original = CountVectorizer()

#### Dataset de entrenamiento

In [34]:
vect_bow_train_original = vectorizador_bow_original.fit_transform(x_train_original)

In [35]:
vect_bow_train_original.shape

(7613, 21637)

#### Dataset de test

In [36]:
vect_bow_test_original = vectorizador_bow_original.transform(x_test_original)

In [37]:
vect_bow_test_original.shape

(3263, 21637)

### 4.1.2 Texto Preprocesado

In [38]:
#Realizo la llamada a la clase CountVectorizer()

vectorizador_bow_preprocesado = CountVectorizer()

#### Dataset de entrenamiento

In [39]:
vect_bow_train_preprocesado = vectorizador_bow_preprocesado.fit_transform(x_train_preprocesado)

In [40]:
vect_bow_train_preprocesado.shape

(7613, 13423)

#### Dataset de test

In [41]:
vect_bow_test_preprocesado = vectorizador_bow_preprocesado.transform(x_test_preprocesado)

In [42]:
vect_bow_test_preprocesado.shape

(3263, 13423)

## 4.2 TF-IDF

### 4.2.1 Texto Original

In [43]:
#Realizo la llamada a la clase CountVectorizer()

vectorizador_tfidf_original = TfidfVectorizer()

#### Dataset de entrenamiento

In [44]:
vect_tfidf_train_original = vectorizador_tfidf_original.fit_transform(x_train_original)

In [45]:
vect_tfidf_train_original.shape

(7613, 21637)

#### Dataset de test

In [46]:
vect_tfidf_test_original = vectorizador_tfidf_original.transform(x_test_original)

In [47]:
vect_tfidf_test_original.shape

(3263, 21637)

### 4.1.2 Texto Preprocesado

In [48]:
#Realizo la llamada a la clase CountVectorizer()

vectorizador_tfidf_preprocesado = TfidfVectorizer()

#### Dataset de entrenamiento

In [49]:
vect_tfidf_train_preprocesado = vectorizador_tfidf_preprocesado.fit_transform(x_train_preprocesado)

In [50]:
vect_tfidf_train_preprocesado.shape

(7613, 13423)

#### Dataset de test

In [51]:
vect_tfidf_test_preprocesado = vectorizador_tfidf_preprocesado.transform(x_test_preprocesado)

In [52]:
vect_tfidf_test_preprocesado.shape

(3263, 13423)